{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-9 bg-white p-4 mb-5 mx-2 rounded custom-shadow">
                <h2 class="text-center mb-4">Сброс пароля</h2>
                <form action="{% url "users:reset_password_write_email" %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="id_email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="id_email"
                                value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                                name="email"
                                placeholder="Введите ваш email" required>
                                {% if form.email.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                                {% endif %}
                        </div>
                        <button type="submit"
                        class="btn btn-dark btn-block">Продолжить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}